{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="runner"><img src="{% static 'images/1963.jpg' %}"></div>
    <div class="benefit">
        <div class="privilege">
            <div class="col-1">
                <img src="{% static 'images/material.png' %}" width="80" height="82" alt="material">
            </div>
            <div class="col-2">
                <p class="material">КАЧЕСТВЕННЫЙ<br>ПОСАДОЧНЫЙ МАТЕРИАЛ</p>
                <p>Все растения перед отправкой<br>проходят тщательный отбор</p>
            </div>
        </div>
        <div class="privilege">
            <div class="col-1">
                <img src="{% static 'images/packaging.png' %}" width="80" height="82" alt="packaging">
            </div>
            <div class="col-2">
                <p class="packaging">НАДЕЖНАЯ УПАКОВКА</p>
                <p>Используем современные технологии<br>упаковки и хранения посадочного материала</p>
            </div>
        </div>
        <div class="privilege">
            <div class="col-1">
                <img src="{% static 'images/assortment.png' %}" width="80" height="82" alt="assortment">
            </div>
            <div class="col-2">
                <p class="assortment">БОЛЬШОЙ АССОРТИМЕНТ</p>
                <p>Предлогаем большой выбор<br>посадочного материала. Следим за<br>новинками.</p>
            </div>
        </div>
    </div>

</section>
    <section class="novelty">

        <div class="catalog-slider"><p>КАТЕГОРИЯ {{ title }}</p>
            <hr>
        </div>

        <div class="grid">

            {% for product in products %}
                <div class="grid-itm">
                    <div class="grid-img">
                        <a href="{{ product.get_absolute_url }}">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" width="300" height="300" alt="chandler">
                            {% endif %}
                        </a>
                    </div>
                    <hr>
                    <div class="product_catalog">
                        <div class="catalog-item"><a
                                    href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
                        <ul class="catalog-item">
                            <li>Отправляется:</li>
                            <li>{{ product.depart }}</li>
                        </ul>
                        <ul class="catalog-item">
                            <li>К-во в упоковке:</li>
                            <li>1 шт.</li>
                        </ul>
                        <ul class="catalog-item">
                            <li class="catalog-item_price"><b>{{ productprice }}</b> руб.</li>
                            <li>
<!--                                <a class="add-to-cart-link" href="cart/add?id=1">-->
<!--                                    <img src="{% static 'images/pannier.png' %}" alt="pannier">-->
<!--                                </a>-->
                                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <input style="margin-bottom:-6px;margin-top: 5px;" type="image"  src="{% static 'images/pannier.png' %}" width="35" height="34" alt="pannier">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="catalog-slider">
            <hr>
        </div>
    </section>
{% include 'inc/pagination.html' %}
{% endblock %}
